/* .auth_page{
    width: 100%;
    min-height: 100vh;
    background: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth_page form{
    background: #fff;
    max-width: 400px;
    width: 100%;
    border: 1px solid #ddd;
    padding: 50px 25px;
}

.auth_page form .pass{
    position: relative;
}

.auth_page form .pass small{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.5;
} */



/* .auth_page {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, #3e6985, #191e23);
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  .auth_page{
    width: 100%;
    min-height: 100vh;
    background-image: url("phtp.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


.auth_page form{
    background: rgba(0, 0, 0, 0.8);
    max-width: 400px;
    color: #fff;
    width: 100%;
    border-radius: 5px;
    padding: 50px 25px;
    box-shadow: 0px 0px 20px rgba(237, 4, 4, 0.3);
}

.auth_page form label{
    display: block;
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
    font-family: 'Press Start 2P', cursive;
}

.auth_page form input{
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background: #fff;
    font-family: 'Roboto', sans-serif;
}

.auth_page form input[type="submit"]{
    background: #ff0000;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
}

.auth_page form input[type="submit"]:hover{
    background: #ff5500;
}

.auth_page form .pass small{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.5;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.auth_page form .pass small:hover{
    opacity: 1;
}
